body {
    background: #484848;
  }
  
  .content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
  }
  h1{
    color: darkslateblue;
    margin-inline-start: 100px;
  }

  button{
    background-color: #03cae4;
    color: #fff;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 1.3rem;
  }
#after_submit{
    text-align: center;
    font-size: xxx-large;
}